// Containers ----------

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Button Styling ----------

%btn-shared {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  transition: all 0.5s;
  border-radius: 5px;
  // So that both buttons and links are consistent
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $dark-color;
    background: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: $light-color;
    background: $dark-color;
  }
  &-main {
    @extend %btn-shared;
    color: $dark-color;
    background: $main-color;
  }
}

// Whenever we hover on any buttons, have mian color as the background
// Whenever there is a btn class (use ^ symbol to grab)
button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background: $main-color;
}

// Text and Line Classes -------------

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bottom-line {
  width: 5%;
  margin: auto;
  border: $main-color 3px solid;
  margin-top: 0.5rem;
}

// Padding Classes ----------

.py {
  &-1 { padding: 1rem 0; }
  &-2 { padding: 2rem 0; }
  &-3 { padding: 3rem 0; }
  &-4 { padding: 4rem 0; }
}

// Margin Classes -------------

.my {
  &-1 { padding: 1rem 0; }
  &-2 { padding: 2rem 0; }
  &-3 { padding: 3rem 0; }
  &-4 { padding: 4rem 0; }
}