// Import partial files
@import 'config';
@import 'utilities';
@import 'item-grid';

// General Styles --------------

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

// Keep all images in their containers
img {
  width: 100%;
}

// Logo -------------------

#logo {
  width: 70px;
  height: 70px;
  // In case we want to replace the logo image with text
  color: #fff;
  text-transform: uppercase;
  z-index: 1;
}

// Main Nav ----------------

#main-nav {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding-top: 1rem;

  ul {
    display: flex;
    z-index: 1;
  }

  li{
    padding: 1rem 1.5rem;
  }

  a {
    color: #fff;
    text-transform: uppercase;
    // This border will show up on hover
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    // Transition for the border color to change on hover
    transition: border-color 0.5s;

    // On hover the border color will transition
    &:hover {
      border-color: $med-color;
    }

    // Class of current needs a border on it
    &.current {
      border-color: $main-color;
    }
  }
}

// Header ---------------

#header {
  // Header Home
  &-home {
    background: $bg-img;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;

    // Center the header content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  // Header for inner website pages
  &-inner {
    position: relative;
    background: $bg-img;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 34%;
    height: 10vh;
    color: #fff;
    border-bottom: $main-color 3px solid;

    // Give the header inner a dark overlay
    &:before {
      content: '';
      position: absolute;
      background: $dark-color;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  
  }
}

// Homepage Sectionn -----------------

#home {

  // Home Section A
  &-a {
    .specials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
    }
    .fas {
      color: $main-color;
    }
  }

  // Home Section B
  &-b {
    // Create 4 col grid
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      div {
        padding: 3rem 0;

        // Alternating colors for the div boxes
        &:nth-child(odd) {
          background: $light-color;
        }
        &:nth-child(even) {
          background: $med-color;
        }
      }
    }

    // Increase font size for key stats info
    li {
      line-height: 2;

      &.stats-title {
        font-size: 1.5rem;
      }
      &.stats-number {
        font-size: 2rem;
        font-size: bold;
      }
    }
  }

  // Home Section C
  &-c {
    padding-bottom: 5rem;

    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      // process-icon styling
      &-icon {
        position: relative;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        // Make the circle
        border-radius: 50%;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        // transition
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }

      // process-step numbers to hover at top right of each icon
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        // Make the circle around each step number
        border-radius: 50%;
        height: 15px;
        width: 15px;
        padding: 1rem;
        line-height: 15px;
        // Transition
        transition: all 1s;
      }
    }
  }
}

//  About Page sections --------------

#about {

  // About Section A
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        'bio-img bio bio'
        'aw1 aw2 aw3';
      grid-gap: 1.2rem;
    }
    // Assign all of the grid areas to sections of the page
    .bio-img {
      grid-area: bio-img;
    }
    .bio {
      grid-area: bio;
      border-left: 3px $main-color solid;
      padding: 0.6rem;
    }
    .award-1 {
      grid-area: aw1;
    }
    .award-2 {
      grid-area: aw2;
    }
    .award-3 {
      grid-area: aw3;
    }
    i.fas {
      color: $main-color;
      margin: 1rem;
    }
  }
  // About Section B
  &-b {

    .progress-area {
        width: 80%;
        margin: 0 auto;
    }

    .progress {
      height: 30px;
      background: $med-color;
      overflow: hidden;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%;
        background: $main-color;
        color: set-text-color($main-color);
        text-align: center;
        transition: all 1s;

        &:hover {
          border: $light-color 1px solid;
        }
      }
    }
  }
  // About Section C
  &-c {
    // display imgs as a 4 col grid
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      // Make imgs smaller
      img {
        width: 70%;
      }
    }
  }
  // About Section D
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      ul {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        // border: 1px dotted $main-color;
        background: $med-color;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        transition: all 1s;

        &:hover {
          background: $main-color;
          padding: 1rem 1.5rem;
        }
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 1rem;
        border: 1px solid $main-color;
      }
    }
  }
}

// Contact Page

#contact {

  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        'name1 email'
        'subject phone'
        'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Set the Grid Areas
      .name-input {
        grid-area: name1;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      // Make text area biggger
      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type="submit"] {
      width: 50%;
      font-size: 0.8rem;
    }
  }

  // Contact Section B
  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      text-align: center;
    }
  }
}

// Footer --------------

#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    // Height must fill the container and then align center
    height: 100%;
    align-items: center;

    // Social icons
    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      // Make the circle
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      padding: 0.5rem;
      text-align: center;
      transition: all 1s;

      &:hover {
        background: $main-color;
      }
    }
  }

}
